/* ------------------------------
   ГЛОБАЛЬНЫЕ ПЕРЕМЕННЫЕ И ШРИФТЫ
------------------------------ */

/* Пользовательские шрифты */
@font-face {
    font-family: "MorfinSans";
    src: url("../assets/fonts/MorfinSans-Regular.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter-VariableFont_opsz\,wght.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}

/* CSS-переменные (цвета, отступы) */
:root {
    --color-primary1: #F06E5A;
    --color-primary2: #BA2C1C;
    --color-primary3: #6E0905;
    --color-secondary1: #ffffff;
    --color-secondary2: #F8F7F6;
    --color-secondary3: #565755;
    --color-tertiary1: #74895E;
    --color-tertiary2: #5D7544;
    --color-tertiary3: #3F512C;
    --color-additional: #F4D390;
    --color-text1: #000000;
    --color-text2: #ffffff;

    --space-standart: 16px;
    --space-title-subtitle1: 16px;
    --space-title-subtitle2: 24px;
}


/* ------------------------------
   БАЗОВЫЕ ГЛОБАЛЬНЫЕ СТИЛИ
------------------------------ */

/* Сброс отступов и box-sizing для всех элементов */
* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
}

/* Стабильная ширина скроллбара для модальных окон*/
html {
    scrollbar-gutter: stable;
}

/* Базовые стили body */
body {
    margin: 0;
    background: var(--color-secondary1);
    color: var(--color-text1);
}

/* Отключение скролла при открытом модальном окне */
body.no-scroll {
    overflow: hidden;
}

/* Основной контейнер для контента между шапкой и подвалом */
main {
    display: flex;
    flex-direction: column;
    gap: 144px;
}

/* Универсальный контейнер для центровки контента */
.container {
    margin: 0 auto;
    padding: 0 40px;
}

/* Универсальный контейнер для заголовка и подзаголовка */
.title {
    display: flex;
    flex-direction: column;
    gap: var(--space-title-subtitle1);
}


/* ------------------------------
   ТИПОГРАФИКА
------------------------------ */

h1 {
    font-family: "MorfinSans";
    font-size: 96px;
    font-weight: 400;
    line-height: 0.9;
}

h2 {
    font-family: "MorfinSans";
    font-size: 80px;
    font-weight: 400;
    line-height: 0.7;
    text-align: center;
}

h3 {
    font-size: 32px;
    font-weight: 500;
}

h4 {
    font-size: 24px;
    font-weight: 500;
}

h5 {
    font-size: 16px;
    font-weight: 600;
}

p {
    font-size: 20px;
    font-weight: 400;
}

/* Акцентный текст */
.accent {
    font-family: "MorfinSans";
    color: var(--color-primary2);
}


/* ------------------------------
   КОМПОНЕНТЫ (КНОПКИ, ССЫЛКИ, ИНПУТЫ)
------------------------------ */

a {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 20px;
    color: var(--color-text2);
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}

input {
    height: 72px;
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    border-radius: 16px;
    background-color: var(--color-secondary2);
    padding: 16px;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
}

/* Состояния валидации полей */
input.error-border {
    border-color: var(--color-primary2);
}

input.success-border {
    border-color: var(--color-tertiary2);
}

/* Сообщения об ошибках */
.error {
    color: var(--color-primary2);
    font-size: 12px;
    margin-top: 4px;
    display: block;
    position: relative;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 304px;
    height: 64px;
    border: none;
    border-radius: 16px;
    font-size: 20px;
    font-weight: 600;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

/* Основная кнопка */
.primary-button {
    color: var(--color-text2);
    background-color: var(--color-primary2);
}

.primary-button:hover {
    background-color: var(--color-primary3);
}

.primary-button:active {
    background-color: var(--color-primary1);
}

/* Вторичная кнопка */
.secondary-button {
    color: var(--color-text1);
    background-color: var(--color-secondary1);
}

.secondary-button:hover {
    color: var(--color-text2);
    background-color: var(--color-primary2);
}

.secondary-button:active {
    color: var(--color-text2);
    background-color: var(--color-secondary3);
}

/* Кнопка закрытия (крестик) */
.close-button {
    position: absolute;
    top: var(--space-standart);
    right: var(--space-standart);
    background-color: transparent;
    width: 40px;
    height: 40px;
}

.close-button::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("../assets/icons/cross.svg") center/contain no-repeat;
}

/* Кнопка-бургер */
.burger-button {
    position: relative;
    display: none;
    width: 40px;
    height: 40px;
    background-color: transparent;
}

.burger-button span {
    position: absolute;
    left: 5px;
    width: 20px;
    height: 1.5px;
    border-radius: 50%;
    background-color: var(--color-text2);
    transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
}

.burger-button span:nth-child(1) { transform: translateY(-8px); }
.burger-button span:nth-child(3) { transform: translateY(8px); }

/* Анимация иконки бургера в состояние "крестик" */
header.open .burger-button span {
    background-color: var(--color-text1);
}

header.open .burger-button span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
}

header.open .burger-button span:nth-child(2) {
    opacity: 0;
}

header.open .burger-button span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
}

header.open::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
}

header.open .header-right-content {
    position: absolute;
    right: 0;
    z-index: 1000;
    justify-content: space-between;
    width: 450px;
}

/* Стрелка внутри кнопки */
.button-arrow {
    opacity: 1;
    transform: translateX(0);
    transition: 0.3s ease;
}

a:hover .button-arrow,
button:hover .button-arrow {
    animation: arrowPop 0.8s ease;
}

/* Анимация для стрелки */
@keyframes arrowPop {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


/* ------------------------------
   ЭКРАН ЗАГРУЗКИ
------------------------------ */

#preloader {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.3s ease;
    background-color: var(--color-secondary1);
}

#preloader.hide {
    opacity: 0;
    pointer-events: none;
}

.loader {
    height: 255px;
    width: 255px;
    background-image: url(../assets/images/Delay.svg);
    object-fit: cover;
    animation: spin 4s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* ------------------------------
   ШАПКА (HEADER) И НАВИГАЦИЯ
------------------------------ */

/* Основной контейнер шапки */
header {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 96px;
    transition: background-color 0.5s ease, color 0.5s ease, box-shadow 0.5s ease;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* Логотип */
.logo {
    display: flex;
    align-items: center;
    padding: 0;
}

.header-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8vw;
}

.menu-list {
    display: flex;
    flex-flow: row wrap;
    gap: 40px;
}

.header-right-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Блок адреса */
.address {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 8px;
}

.address-text {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.address-worktime {
    font-size: 14px;
    opacity: 0.7;
}

header .primary-button {
    display: none;
    width: 240px;
    height: 48px;
    font-size: 16px;
    border-radius: 12px;
}

/* Стили шапки при скролле */
header.scrolled {
    background: var(--color-secondary1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.397);
}

header.scrolled .header-menu {
    gap: 14vw;
}

header.scrolled a {
    color: var(--color-text1);
}

header.scrolled .burger-button span {
    background-color: var(--color-text1);
}

header.scrolled .header-right-content {
    display: none;
}

header.scrolled .primary-button {
    display: flex;
}

header.scrolled .address {
    display: none;
}

/* Стили для открытого состояния (бургер-меню) */
header.open a {
    display: flex;
    color: var(--color-text1);
}

header.open .primary-button {
    display: flex;
}

header.open .address svg {
    color: var(--color-primary2);
}

header.open .logo {
    display: none;
}


/* ------------------------------
   ГЛАВНЫЙ ЭКРАН
------------------------------ */

.hero {
    position: relative;
    height: 100dvh;
    min-height: 650px;
    padding: 18dvh 0 32px;
    overflow: hidden;
}

.video-fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.hero-content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.hero-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
}

.hero-title div {
    display: flex;
    flex-direction: column;
    gap: var(--space-title-subtitle1);
    color: var(--color-text2);
}

/* Карточки фактов */
.facts {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-standart);
}

.fact {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 24px;
    padding: 16px;
    padding-right: 32px;
    border-radius: 16px;
    background-color: var(--color-secondary1);
    color: var(--color-text1);
}

.fact img {
    width: 56px;
    height: 56px;
    padding: 12px;
    border-radius: 12px;
    background-color: var(--color-primary2);
}


/* ------------------------------
   СЕКЦИЯ ПРЕИМУЩЕСТВ
------------------------------ */

.advantages {
    display: flex;
    flex-direction: column;
    gap: 64px;
    text-align: center;
}

.ingredients {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 4vw;
}

.ingredient {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    max-width: 400px;
}

.ingredient img {
    width: 240px;
    height: 240px;
}


/* ------------------------------
   СЕКЦИЯ О НАС
------------------------------ */

.about {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas:
        "title button"
        "feedbacks feedbacks";
    gap: 56px 24px;
}

.about-header {
    display: contents;
}

.about-header h2 {
    text-align: left;
}

.about-header .title {
    grid-area: title;
    width: 100%;
}

.about-header .primary-button {
    grid-area: button;
    align-self: start;
    width: 30vw;
}

.feedbacks {
    display: flex;
    grid-area: feedbacks;
    flex-flow: row wrap;
    gap: 80px;
}

.feedback-info {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    gap: 24px;
}

.feedback-info h3 {
    font-family: "MorfinSans";
    font-size: 220px;
    line-height: 0.5;
}


/* ------------------------------
   СЕКЦИЯ МЕНЮ
------------------------------ */

.menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: visible;
    gap: var(--space-title-subtitle2);
}

.dishes-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.dishes-category {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.category-title {
    display: flex;
    align-items: center;
    gap: var(--space-title-subtitle1);
}

.line {
    flex: 1;
    height: 2px;
    border-radius: 50px;
    background: var(--color-text1);
}

.dishes {
    width: 100%;
    gap: var(--space-standart);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.dish {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    height: 480px;
    gap: var(--space-title-subtitle1);
    padding-bottom: 8px;
    cursor: zoom-in;
}

.dish img {
    width: 100%;
    height: 304px;
    border-radius: 20px;
    object-fit: cover;
}

.dish-info {
    display: flex;
    flex-direction: column;
    padding: 0 8px;
    gap: 32px;
}

.dish-title {
    display: flex;
    flex-direction: column;
    gap: var(--space-title-subtitle1);
}

.dish-title h4 {
    font-size: 24px;
}

/* Настройка, чтобы было максимум 2 строки описания */
.dish-title p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    overflow-wrap: anywhere;
    font-size: 16px;
}

.dish-subtitle {
    display: flex;
    flex-direction: row;
    gap: var(--space-standart);
    font-size: 20px;
}

.dish-subtitle span {
    padding: 8px 16px;
    border-radius: 16px;
}

.price {
    font-weight: 600;
    color: var(--color-text2);
    background-color: var(--color-tertiary2);
}

.quantity {
    font-weight: 500;
    color: var(--color-text1);
    background-color: var(--color-secondary2);
}

.menu button {
    margin-top: 40px;
}

/* ------------------------------
   СЕКЦИЯ ИНТЕРЬЕРА (INTERIOR)
------------------------------ */

.interior {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-title-subtitle2);
}

.interior-slider {
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding-bottom: 64px;
    width: 100%;
    height: 70dvh;
    min-height: 650px;
    position: relative;
    overflow: hidden;
}

.hall {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity 0.6s ease;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 112px 32px;
    z-index: -1;
}

/* Накладывающийся на изображения градиент */
.img-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 72.6%, rgba(0, 0, 0, 0.8) 100%),
                linear-gradient(270deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 33.17%, rgba(0, 0, 0, 0) 70.09%, rgba(0, 0, 0, 0.6) 99.96%);
    z-index: -1;
}

.hall img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
    object-fit: cover;
    transform: translateX(80px);
    transition: transform 0.8s ease;
}

.interior-info {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--space-title-subtitle1);
    padding: 24px 24px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(12px);
    color: var(--color-text2);
    text-align: center;
}

.controls {
    background-color: var(--color-secondary1);
    width: 56px;
    height: 56px;
    border-radius: 12px;
    transition: background-color 0.5s;
}

.controls:hover {
    background-color: var(--color-secondary2);
}

/* Настройки для слайдера */
.hall.active {
    opacity: 1;
}

.hall.active img {
    transform: translateX(0);
}


/* ------------------------------
   СЕКЦИЯ FAQ (ВОПРОСЫ)
------------------------------ */

.faq-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-title-subtitle2);
}

.questions {
    display: flex;
    flex-direction: column;
    gap: var(--space-standart);
    width: 100%;
}

.question {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    border-radius: 16px;
    background-color: var(--color-secondary2);
}

.wrapper-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.unwrapper-button {
    max-width: 40px;
    max-height: 40px;
    background-color: transparent;
}

.unwrapper-button svg {
    transition: transform 0.3s ease;
}

.question.active .unwrapper-button svg {
    transform: rotate(180deg);
}

.question p {
    margin: 0;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease;
}

.question.active p {
    margin-top: 16px;
    max-height: 500px;
    opacity: 1;
}


/* ------------------------------
   КОНТАКТЫ И КАРТА
------------------------------ */

.contacts-map {
    position: relative;
    width: 100%;
    height: 500px;
}

.contact-content {
    position: absolute;
    margin: 24px 40px;
    top: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: var(--space-standart);
}

.contact-card {
    border-radius: 16px;
    background-color: var(--color-secondary1);
}

.first-contact {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 24px;
}

.first-contact ul {
    font-size: 16px;
    font-weight: 400;
}

.second-contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
}

.socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.socials a {
    width: 32px;
    height: 32px;
    background: transparent;
}


/* ------------------------------
   ПОДВАЛ (FOOTER)
------------------------------ */

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    margin: 144px 0 32px;
}

.footer-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.footer-container nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}

footer a {
    color: var(--color-text1);
}

.copyright {
    font-size: 12px;
    color: var(--color-secondary3);
}


/* ------------------------------
   МОДАЛЬНЫЕ ОКНА
------------------------------ */

/* Общий фон для модальных окон */
.modal-overflow {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.5);
    padding: 0 160px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 0.3s ease;
}

.modal-overflow.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    z-index: 9999;
}

.modal-overflow.active .modal {
    transform: translateY(0) scale(1);
}

/* Основное модальное окно */
.modal {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
    padding: 40px;
    background-color: var(--color-secondary1);
    border-radius: 24px;
    z-index: 10000;
    transform: translateY(20px) scale(0.98);
    transition: 0.3s ease;
}

.modal-scroll {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 48px;
}

.modal .title {
    text-align: center;
}

.modal-content {
    width: 100%;
    flex: 1;
}

.modal h2 {
    font-size: 56px;
}

.modal h3 {
    font-size: 48px;
}

.modal h4 {
    font-weight: 400;
}

.field {
    flex: 1;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--space-standart);
    width: 100%;
}

.name {
    grid-column: span 2;
}

.quantity-field {
    grid-column: span 2;
}

.phone {
    grid-column: span 2;
}

.date {
    grid-column: span 1;
}

.time {
    grid-column: span 1;
}

.consent-field {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.consent {
    display: flex;
    margin-left: 24px; 
    font-size: 14px;
}

.consent span{
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 8px;
}

.consent input{
    opacity: 0;
    width: 0;
    height: 0;
}

.consent span::before,
.consent span::after {
    content: "";
    position: absolute;
    left: -24px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
}

.consent span::before {
    border: 2px solid var(--color-tertiary2);
    border-radius: 4px;
    background-color: var(--color-secondary1);
}

.consent span::after {
    background: url(../assets/icons/check.svg) center/contain no-repeat;
}

.consent input:checked + span::before{
    background-color: var(--color-tertiary2);
}

/* Модальное окно деталей блюда */
.dish-modal {
    height: 700px;
    overflow: hidden;
    padding: 0;
}

.dish-scroll {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
}

.dish-modal-image {
    height: 700px;
    width: 50vw;
    object-fit: cover;
}

.dish-modal .modal-content {
    padding: 40px 0 32px 32px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dish-modal .title {
    text-align: start;
}

.dish-modal .primary-button {
    width: 100%;
}

.dish-info-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* Блок "Подробнее о блюде" */
.dish-details {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 24px;
    border-radius: 16px;
    background-color: var(--color-secondary2);
}

.dish-details-info {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 16px;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease;
}

.dish-details.active .dish-details-info {
    margin-top: 16px;
    max-height: 250px;
    opacity: 1;
}

.dish-details.active .unwrapper-button svg {
    transform: rotate(180deg);
}

.detail-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.detail-row p {
    font-size: 16px;
}


/* ------------------------------
   АДАПТИВ ДЛЯ ПЛАНШЕТОВ
------------------------------ */

@media (max-width: 1280px) {
    /* Глобальные изменения */
    :root {
        --space-standart: 8px;
    }

    .container {
        padding: 0 20px;
    }

    /* Типографика */
    h1 { font-size: 72px; }
    h2 { font-size: 56px; }
    h3 { font-size: 24px; }
    h4 { font-size: 16px; }
    p { font-size: 18px; }

    /* Компоненты */
    .burger-button {
        display: block;
    }

    /* Адаптация шапки */
    header {
        height: 72px;
    }

    .header-menu {
        flex-direction: column;
        align-items: start;
        position: absolute;
        width: 450px;
        right: -450px;
        top: 0;
        padding: 104px 20px 24px 24px;
        background-color: var(--color-secondary1);
        border-radius: 0 0 0 24px;
        transition: right 0.5s, left 0.5s, color 0.5s;
        z-index: 999;
    }

    header.open .header-menu {
        right: 0px;
        color: var(--color-text1);
    }

    .menu-list {
        flex-direction: column;
        align-items: start;
        gap: 24px;
    }

    header.scrolled .address {
        display: flex;
    }

    header.scrolled .header-right-content {
        display: flex;
    }

    header.scrolled .address svg {
        color: var(--color-primary2);
    }

    /* Адаптация секций */

    .fact {
        min-width: 40%;
        font-size: 14px;
        font-weight: 400;
    }

    .ingredient img {
        width: 184px;
        height: 184px;
    }

    .ingredient {
        gap: 16px;
        max-width: 260px;
    }

    .about-header .title {
        width: 100%;
    }

    .dishes {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .feedback-info h3 {
        font-size: 136px;
    }

    .feedbacks {
        gap: 48px;
    }

    .interior-slider {
        padding-bottom: 48px;
    }

    .hall {
        padding: 0 65px 16px;
    }

    .controls {
        width: 40px;
        height: 40px;
        border-radius: 8px;
    }

    .contact-content {
        margin: 24px 20px;
    }

    .contact-content .first-contact h5 {
        font-size: 16px;
    }

    .contact-content .first-contact li {
        font-size: 14px;
    }

    /* Модальные окна */
    .modal-overflow {
        padding: 0 20px;
    }

    .modal h2 {
        font-size: 44px;
    }

    .modal h3 {
        font-size: 32px;
        text-align: left;
    }

    .modal .button {
        min-height: 64px;
        border-radius: 16px;
        font-size: 20px;
    }

    #done-form {
        padding-top: 48px;
    }

    .dish-modal-image {
        height: 80dvh;
    }

    .dish-modal {
        height: 80dvh;
    }

    .dish-details {
        padding: 16px 16px;
    }

    .detail-row p {
        font-size: 14px;
    }
}


/* ------------------------------
АДАПТИВ ДЛЯ МОБИЛЬНЫХ
------------------------------ */

@media (max-width: 750px) {
    /* Глобальные изменения */

    main {
        gap: 96px;
    }

    .container {
        padding: 0 15px;
    }

    /* Типографика */
    h1 {
        max-width: 100%;
        font-size: 56px;
    }
    h2 {
        font-size: 48px;
        line-height: 0.9;
    }
    h4 { font-size: 18px; }
    h5 { font-size: 16px; }

    input {
        font-size: 16px;
        height: 64px;
    }

    /* Адаптация шапки */
    .header-menu {
        width: 100%;
        left: 100%;
    }

    header.open .header-menu {
        left: 0;
        color: var(--color-text1);
    }

    .address {
        display: none;
    }

    header.scrolled .primary-button {
        display: flex;
    }

    header.scrolled .address {
        display: none;
    }

    header.open .address {
        display: flex;
        color: var(--color-text1);
    }

    header.open .header-right-content {
        width: 100%;
    }

    /* Адаптация секций */
    .hero .secondary-button {
        width: 100%;
    }

    .hero-title {
        gap: 24px;
    }

    .hero {
        padding: 14dvh 0 16px;
    }

    .fact {
        gap: 16px;
        padding: 8px;
        min-width: 100%;
    }

    .about {
        grid-template-columns: 1fr;
        grid-template-areas:
            "title" 
            "feedbacks"
            "button";
    }

    .about-header .primary-button {
        width: 100%;
    }

    .feedback-info h3 {
        font-size: 120px;
    }

    /* Секция преимуществ */
    .ingredient img {
        width: 104px;
        height: 104px;
    }

    .ingredients {
        gap: 32px;
    }

    .ingredient {
        flex-direction: row;
        gap: 24px;
        max-width: 100%;
    }

    .advantages {
        text-align: start;
    }

    .menu .button {
        width: 100%;
    }

    .interior-info p {
        font-size: 14px;
    }

    .interior-slider {
        padding-bottom: 72px;
    }

    .hall p {
        font-size: 14px;
    }

    .faq-content h2 {
        text-align: center;
    }

    /* Меню (горизонтальный скролл) */
    .menu {
        padding: 0;
    }

    .category-title {
        padding: 0 15px;
    }

    .dishes {
        padding: 0 0 0 15px;
        overflow-x: auto;
        scroll-snap-type: x proximity;
        -webkit-overflow-scrolling: touch;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .dishes::-webkit-scrollbar {
        display: none;
    }

    .dish {
        flex: 0 0 auto;
        width: 312px;
        scroll-snap-align: start;
    }

    .contacts-map {
        height: 700px;
    }

    .contact-content {
        margin: 24px 0;
        padding: 0 15px;
    }

    /* Модальные окна */
    .modal {
        padding: 24px;
        max-height: 100%;
    }

    .modal-scroll {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 24px;
        overflow-y: auto;
    }

    .modal-scroll::-webkit-scrollbar {
        display: none;
    }

    .form-grid {
        grid-template-columns: 1fr;
    }

    .name,
    .quantity-field,
    .phone,
    .date,
    .time,
    .consent-field {
        grid-column: auto;
        grid-row: auto;
    }

    .modal .primary-button {
        width: 100%;
    }

    .dish-modal {
        padding: 0;
        min-height: 80dvh;
        max-height: 100%;
        height: auto;
    }

    .dish-scroll {
        overflow-y: auto;
        flex-direction: column-reverse;
        gap: 24px;
    }
    .menu-noscroll {
        width: 100%;
        padding: 0px 15px;
    }

    .dish-scroll::-webkit-scrollbar {
        display: none;
    }

    .modal-overflow {
        padding: 15px;
    }

    .dish-modal .primary-button {
        margin-top: 16px;
    }

    .dish-modal-image {
        min-height: 250px;
        width: 100%;
    }

    .dish-modal .modal-content {
        padding: 0px 24px 24px;
    }

    .modal h2 {
        font-size: 40px;
    }

    .modal h3 {
        font-size: 26px;
    }
}

@media (max-width: 460px) {

     /* Типографика */
    h1 { font-size: 42px; }
    h2 { font-size: 42px; }
    h4 { font-size: 16px; }
    h5 { font-size: 14px; }
    p {font-size: 16px; }

    .button {
        height: 48px;
        font-size: 16px;
        border-radius: 12px;
    }

    .fact img {
        width: 44px;
        height: 44px;
    }

    .feedback-info h3 {
        font-size: 88px;
    }

    .contact-content {
        width: 100%;
    }
}